<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-3 mt-5">
            <div class="list-group mt-4">
                <a routerLinkActive="active" routerLink="/" class="list-group-item list-group-item-action">Alışveriş
                    Sayfası</a>
                <a routerLinkActive="active" routerLink="/basket"
                    class="list-group-item list-group-item-action">Sepetim</a>
                <a routerLinkActive="active" (click)="logout()"
                    class="list-group-item list-group-item-action disabled">Çıkış Yap</a>
            </div>
        </div>


        <div class="col-md-9">
            <h1 class="text-center" style="color: red;">Siparişlerim</h1>
            <table class="table table-striped table-hover table-dark table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Sipariş No</th>
                        <th>Adet</th>
                        <th>Tarih</th>
                        <th>Toplam Fiyat</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders" class="table-hover-row">
                        <td>{{ item.siparisNo }}</td>
                        <td>{{ item.adet }}</td>
                        <td>{{ item.tarih | date }}</td>
                        <td>{{ item.toplamFiyat }} €</td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>