.sepet-iconu {
    position: relative;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px;
    font-size: 12px;
  }

  .bildirim-sayisi {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: white;
    color: red;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }