/* Modal arka plan rengi */
.mat-dialog-container {
    background-color: #f5f5f5; /* Arka plan rengini burada değiştirin */
  }
  
  /* İptal düğmesi rengi */
  button.mat-dialog-close {
    color: #ffffff; /* Yazı rengini burada değiştirin */
    background-color: #e53935; /* Arka plan rengini burada değiştirin */
  }
  
  /* Çıkış düğmesi rengi */
  button.mat-dialog-close.cdk-focused {
    background-color: #c62828; /* Arka plan rengini burada değiştirin */
  }