<app-navbar></app-navbar>
<div class="container pt-100 mb-5">
    <h1 class="mb-2">Alışveriş Sepetiniz</h1>
    <div class="row">
        <div class="col-8">
            <ng-container *ngIf="_cart.itemCount > 0">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ürün Adı</th>
                            <th>Ürün Adeti</th>
                            <th>Ürün Fiyatı</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of _cart.basketItems ">
                            <td *ngIf="item.adet > 0"><img src="{{item.product.image}}" width="80px"></td>
                            <td *ngIf="item.adet > 0">{{item.product.title}}</td>
                            <td *ngIf="item.adet > 0">
                                {{item.adet}}
                            </td>
                            <td *ngIf="item.adet > 0">{{item.product.price | number: '1.2-2' }} TL</td>
                            <td>
                                <button (click)="openDialog(item.product.id)" class="btn btn-danger btn-md"
                                    *ngIf="item.adet > 0">Sil</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>

            <ng-container *ngIf="_cart.itemCount === 0">
                <div class="alert alert-warning mt-3">
                    Sepetinizde ürün bulunmamaktadır.
                    <button routerLink="/" routerLinkActive="router-link-active" class="btn btn-link p-0">
                        Alışverişe devam etmek için tıklayınız.
                    </button>
                </div>
            </ng-container>
        </div>
        <div class="col-4">
            <ng-container>
                <div class="text-left">
                    <h4>Alışveriş Özeti</h4>
                    <table class="table">
                        <tr>
                            <th>Toplam</th>
                            <td>{{ _cart.total | number: '1.2-2' }} TL</td>
                        </tr>
                    </table>
                    <div>
                        <button routerLink="/" class="btn btn-secondary btn-sm m-3">Alışverişe devam et</button>
                        <ng-container *ngIf="_cart.total > 0">
                            <button (click)="completeOrder()" class="btn btn-danger btn-sm ml-2">Alışverişi
                                tamamla</button>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>