<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <img src="" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Ürün Adı: </h5>
                    <p class="card-text">Fiyat: ₺</p>
                </div>
                <div class="card-footer text-center">
                    <a routerLink="/" class="btn btn-primary">Geri Dön</a>
                </div>
            </div>
        </div>
    </div>
</div>