<div class="container">
    <div>
        <app-cart-summart></app-cart-summart>
    </div>
    <div class="row">
        <ng-container *ngFor="let item of productList">
            <div class="col-md-3">
                <div class="card mb-3">
                    <img src="{{item.image}}" alt="{{item.title}}">
                    <div class="card-body">
                        <h4 class="card-title">{{item.title}}</h4>
                        <small class="text-muted">
                            <div class="fas fa-lira-sign" style="color: black;">
                                <h5>
                                    {{item. price}} ₺
                                </h5>

                            </div>
                        </small>
                    </div>
                    <div class="card-footer text-center bg-dark">
                        <button (click)="cartDetails(item)" class="btn btn-outline-warning btn-md m-3">Ürün
                            Detayı</button>
                        <button class="btn btn-outline-success btn-md" (click)="openDetails(item)">Sepete
                            Ekle</button>

                        <ng-container *ngIf="isShow==true && selectedProduct === item">
                            <button (click)="add(item)" class="btn btn-success btn-sm m-2">+</button>
                            <input type="number" [(ngModel)]="x">
                            <button (click)="remove(item)" class="btn btn-danger btn-sm m-2">-</button>
                            <hr>
                            <button (click)="addToCart(item)" class="btn btn-primary [adet]=x"
                                routerLink="/basket">Ekle</button>
                        </ng-container>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>